
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weather</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>

        </nav>
        <center>
            <h3 class="text-muted">Weather</h3>
        </center>
      </div>

      <div class="jumbotron">
        <h2>Insert City Name</h2>
        <form method="post">
          <div class="form-group">
            <input type="text" name="cityName" class="form-control" placeholder="City Name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <footer class="footer">
        <p><center>&copy; 2017 Weather | <a href="https://github.com/egin10">egin10</a>.</center></p>
      </footer>

    </div> <!-- /container -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </body>
</html>
